__pycache__/
*.py[cod]
*$py.class
*.so
*.log
*.pot
*.pyc
*.sqlite3
*.db
media/
logs/
staticfiles/
static_root/
.vscode/
env/
venv/
ENV/
env.bak/
venv.bak/
*.swp
.DS_Store
Thumbs.db
*.pem
*.key
.env
.idea/
**/migrations/
